@model IEnumerable<FMS_Backend.FMSModels.TripDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicleid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tripdatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometerstart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometerend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuelstart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuelend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tripmileage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tripdatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odometerstart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odometerend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuelstart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuelend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tripmileage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tripid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Tripid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Tripid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
