@model FMS_Backend.FMSModels.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicleid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicleid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuelingdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuelingdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuelinglocid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuelinglocid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Userid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuelcost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuelcost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paymentmethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paymentmethod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Transactionid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
