@model IEnumerable<FMS_Backend.FMSModels.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicleid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuelingdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuelinglocid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuelcost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymentmethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuelingdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuelinglocid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuelcost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paymentmethod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Transactionid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Transactionid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Transactionid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
